# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystems are summarized.

Some of the popular languages of data science are:

1. Python
2. R
3. C++
4. Java

Some commonly use libraries included:

1. Jupyter Notebooks
2. Rstudio
3. Pandas
4. Numpy

| Data Science Tools|
|---------|
| Rstudio |
| Apache Spark|
| Apache Hadoop |

This simple arithmetic expression to multiply then add integers.

In [3]:
(3*4)+5

17

This will convert 200 minutes into hours by dividing by 60.

In [4]:
200/60

3.3333333333333335

**Objectives:**

* List Popular Languages Used In Data Science
* List Commonly Used Libraries
* Use Simply Arithmetic

Author

Nicholas Bleser